  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'index' %}"><span>Com</span>pany</a></h1>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>

          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'team' %}">Team</a></li>
              <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
            </ul>
          </li>

          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'pricing' %}">Pricing</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
         <li><a href="{% url 'login' %}">Your Account</a></li>
      </ul>
                        

   
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->